body {
    font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
}

h1,
h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.form-container {
    display: grid;
    justify-content: center;
    align-items: start;
}

#new-item-form {
    display: grid;
    grid-auto-flow: row;
}

#submit {
    margin-top: 15px;
    padding: 5px;
}
